/* Main container */
.container {
    display: flex;
    width: 100%;
}

    /* Left section */
    .container .left {
        width: 60%;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

        .container .left .title {
            display: flex;
            justify-content: space-between;
        }

            .container .left .title .filter {
                display: flex;
                gap: 20px;
            }

                .container .left .title .filter select {
                    margin-top: 20px;
                    align-items: center;
                    width: 80px;
                    height: 30px;
                }

        /* Table styling */
        .container .left .items {
            width: 100%;
        }

            .container .left .items table {
                width: 100%;
                border-collapse: collapse;
                margin-top: 20px;
            }

                .container .left .items table th,
                .container .left .items table td {
                    padding: 10px;
                    text-align: center;
                    border-right: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    max-width: 100%;
                }

                .container .left .items table th {
                    background-color: #f2f2f2;
                    font-weight: bold;
                }

                .container .left .items table td img {
                    width: 100px;
                    height: 100px;
                }

    /* Right section */
    .container .right {
        width: 40%;
        padding: 10px;
        margin: 10px;
        background: linear-gradient(45deg, #5d0e9a, rgb(222, 12, 12));
        ;
        border-radius: 20%;
    }

        .container .right .title {
            display: flex;
            justify-content: space-around;
            margin: 10px 0;
            align-items: center;
            color: #fff;
        }

            .container .right .title img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }

        .container .right .payments {
            display: flex;
            width: 100%;
        }

            .container .right .payments i {
                font-size: 60px;
                margin: 10px 40px;
                align-items: center;
                color: yellow;
                filter: drop-shadow(1px 1px 2px rgb(154, 154, 154));
            }

        .container .right form {
            display: flex;
            flex-direction: column;
            width: 50%;
            align-items: center; /* Centers items horizontally */
        }

            .container .right form .info {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
            }

            .container .right form .summary {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 20px;
            }

                .container .right form .summary .row {
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 0;
                    border-bottom: 1px solid #ccc;
                }

            .container .right form .button {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
            }

                .container .right form .button h1 {
                    font-size: 24px;
                }

                .container .right form .button p {
                    font-size: 18px;
                    color: blue;
                    display: flex;
                    align-items: center;
                }
